adapter-djpr-v1/src/main/mule/adapter-djpr-v1-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="00f253e6-c202-481b-bf59-17f2fd67a9f9" >
		<salesforce:cached-oauth-user-pass-connection consumerKey="${salesforce.consumerkey}" consumerSecret="${salesforce.consumersecret}" username="${salesforce.username}" password="${salesforce.password}" securityToken="${salesforce.token}" />
	</salesforce:sfdc-config>
	<flow name="get-holdings-by-id-flow" doc:id="989c9c64-8c08-4b79-a25f-479fb4d25bbc" >
		<salesforce:query doc:name="Query" doc:id="2d33dd00-bc3d-4932-b690-d95669daf094" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >select Id,Harvester__r.Id, Allocated_Date__c, Expiry_Date__c, Harvester__r.name, Harvester__r.status__c, Harvester__r.BillingCountry, Harvester__r.BillingPostalCode, Harvester__r.BillingState, Harvester__r.BillingStreet, Harvester__r.BillingCity, Zone_Quota__r.Name, name from Harvester_Quota__c  where Harvester__r.Id = ':id' </salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : vars.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="8cff1039-1802-4f8e-8948-d57c48215381" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
   {
      "Zone_Quota__r": {
         "Id": null,
         "type": "Zone_Quota__c",
         "Zone__r": {
            "Id": null,
            "type": "Zone__c",
            "Name": "Mallee"
         }
      },
      "Current_Allocated_Quota__c": "10.0",
      "Harvester__c": "001O000001blZA2IAM",
      "Id": "a03O000000M7Q5MIAV",
      "Harvester__r": {
         "PersonMailingStreet": "36 railway st",
         "PersonMailingPostalCode": "2145",
         "Id": null,
         "PersonMailingCity": "sydney",
         "PersonMailingState": null,
         "type": "Account",
         "Status__c": "Authorised",
         "Harvester_Id__c": null,
         "Name": "Prerna Rehanagadale",
         "Start_Date__c": "2019-09-17T05:46:17.000Z"
      },
      "type": "Harvester_Quota__c",
      "Status__c": "Allocated",
      "Expiry_Date__c": "2019-09-30T03:29:00.000Z"
   },
   {
      "Zone_Quota__r": {},
      "Current_Allocated_Quota__c": "10.0",
      "Harvester__c": "001O000001blZA2IAM",
      "Id": "a03O000000M7dk3IAB",
      "Harvester__r": {
         "PersonMailingStreet": "36 railway st",
         "PersonMailingPostalCode": "2145",
         "Id": null,
         "PersonMailingCity": "sydney",
         "PersonMailingState": null,
         "type": "Account",
         "Status__c": "Authorised",
         "Harvester_Id__c": null,
         "Name": "Prerna Rehanagadale",
         "Start_Date__c": "2019-09-17T05:46:17.000Z"
      },
      "type": "Harvester_Quota__c",
      "Status__c": "Allocated",
      "Expiry_Date__c": "2020-09-17T01:12:00.000Z"
   }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="84b5fc4a-2d7e-4336-a0e3-4d0a87fe0fc5" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Transform Message" doc:id="e6da7f18-fa27-491d-850c-ba08bd712248" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
 var country = payload[0].Harvester__r.PersonMailingCountry default ""
 var postCode = payload[0].Harvester__r.PersonMailingPostalCode default ""
var stateOrTerritory = payload[0].Harvester__r.PersonMailingState default "" 
var streetName = payload[0].Harvester__r.PersonMailingStreet default ""
var suburbOrPlaceOrLocality = payload[0].Harvester__r.PersonMailingCity default ""
---
{
	link: "/api/v1/kangaroos/holdings/" ++ payload[0].Harvester__c,
	attributes: {
		"type" : "AGENCY_HOLDING",
		 subtype: "LICENCE",
		 expiry: payload[0].Expiry_Date__c,
		"state": payload[0].Status__c,
        "domain": "DJPR",
        "agencyIdentifier": payload[0].Harvester__r.Harvester_Id__c,
        "name": payload[0].Harvester__r.'Name',
        "startDateTime": payload[0].Harvester__r.Start_Date__c,
        
        "quotas": payload map 
            {
                "quotaId": $.'Id',
                "zoneName": $.Zone_Quota__r.Zone__r.'Name'
		        
            }
        ,
        
        "addresses": [
            {
                "country": payload[0].Harvester__r.PersonMailingCountry,
                "postCode": payload[0].Harvester__r.PersonMailingPostalCode,
                "stateOrTerritory": payload[0].Harvester__r.PersonMailingState,
                "streetName": payload[0].Harvester__r.PersonMailingStreet,
                "suburbOrPlaceOrLocality":payload[0].Harvester__r.PersonMailingCity,
                "unstructuredAddressLine": streetName ++ " " ++ suburbOrPlaceOrLocality
                ++ " " ++ stateOrTerritory ++ " " ++ stateOrTerritory ++ " " ++ postCode
            }
        ]
        
        
		
	}
	
	}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="No Record Found" doc:id="a3cfcba9-69bb-406c-88ac-f5ea3a70a5fb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
status:"No Record Found."]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="create-job-flow" doc:id="e6279446-b8a6-41cb-80c1-c4cd69439aae" >
		<ee:transform doc:name="Transform Message" doc:id="77cade35-a91e-4fd8-ab9f-977ed623bffa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:invoke-apex-rest-method className="ParseandUpsertTheHarvestJobDetails" methodName="upsertHarvestDetails^/harvestjob^HttpGet^String" doc:name="Invoke apex rest method" doc:id="7cbf97f5-54ab-47ad-b554-0dc3ba7716ea" config-ref="Salesforce_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="9d8670ca-cece-4073-b439-f8ea78ab9014" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
