proc-ecom-api/src/main/mule/proc-ecom-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="router-flow" doc:id="39fc8250-10ae-443e-b8b0-1b5467a5b96d" >
		<set-variable value="#[attributes.queryParams.'resourceName']" doc:name="Set Variable" doc:id="d786910e-5201-4fc9-985f-59a2364f0235" variableName="resourceName"/>
		<choice doc:name="choice to identify the endpoint" doc:id="9deb500c-65fc-4193-bef4-d56a0173bf85" >
			<when expression='#[vars.resourceName == "/order"]'>
				<flow-ref doc:name="get-order-flow" doc:id="03fd4546-8aae-466f-bd41-3d865e797bc4" name="get-order-flow"/>
			</when>
			<when expression='#[vars.resourceName == "/cart"]'>
				<flow-ref doc:name="create-cart-flow" doc:id="1c998f07-5f60-4295-b877-248b7ef1a33b" name="create-cart-flow"/>
			</when>
			<otherwise >
				<flow-ref doc:name="get-invoice-flow" doc:id="3b4566de-5d8a-4d92-a1cb-182ccb439190" name="get-invoice-flow"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="get-order-flow" doc:id="0487a5a1-88dc-45cb-8f4f-2bc98ad477da" >
		<logger level="INFO" doc:name="Logger" doc:id="5a6a9940-49ed-4281-b109-f389a879d61e" />
		<http:request method="POST" doc:name="system:getOrder" doc:id="c59d92c1-0126-46d8-8517-dd0699c89055" config-ref="SystemHttp_Request_configuration" path="/order">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('process.auth.clientId'),
	"client_secret": p('process.auth.clientSecret'),
	 "Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"type" : attributes.queryParams.'type'
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="0..599" />
			</http:response-validator>
		</http:request>
	</sub-flow>
	<sub-flow name="create-cart-flow" doc:id="80684711-fe51-428d-93ac-c54df2f3213a" >
		<logger level="INFO" doc:name="Logger" doc:id="a1db4345-62d3-4cfe-85fe-10b15dbd88db" />
		<ee:transform doc:name="generating orderId" doc:id="61945c54-64f9-4d48-8cb4-433867166500" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var orderId= randomInt(100)
var n = orderId as Number
---
{orderId:orderId } ++ payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="system:createCart" doc:id="775754fb-15e5-4d60-9148-8c342ec8bf19" config-ref="SystemHttp_Request_configuration" path="/cart">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('process.auth.clientId'),
	"client_secret": p('process.auth.clientSecret'),
	 "Content-Type" : "application/json"
}]]]></http:headers>
			<http:response-validator >
				<http:success-status-code-validator values="0..599" />
			</http:response-validator>
		
</http:request>
	</sub-flow>
	<sub-flow name="get-invoice-flow" doc:id="bd56ddba-40b0-489a-9c3a-0d4caf2d7ae0" >
		<logger level="INFO" doc:name="Logger" doc:id="63d2ab26-9efb-4db5-8bee-5eb3d5d80ecd" />
		<ee:transform doc:name="jsontoxml" doc:id="2bb7e415-a4a2-4d2a-9f1f-3233397d5787" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="system:getInvoice" doc:id="b2c676b6-916b-4e4c-9f98-d8efb617043a" config-ref="SystemHttp_Request_configuration" path="/invoice">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('process.auth.clientId'),
	"client_secret": p('process.auth.clientSecret'),
	 "Content-Type" : "application/xml"
}]]]></http:headers>
		
</http:request>
	</sub-flow>
</mule>
