exp-ecom-api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:cors="http://www.mulesoft.org/schema/mule/cors"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
      
        <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="${http.path}/*">
          
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
      <error-handler ref="apikit_error_handler"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/cors http://www.mulesoft.org/schema/mule/cors/current/mule-cors.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\cart:application\json:api-config">
		<flow-ref doc:name="router-flow" doc:id="41dfd070-2797-4f7c-a8b4-844705a060a4" name="router-flow"/>
    </flow>
    <flow name="post:\invoice:application\json:api-config">
		<flow-ref doc:name="router-flow" doc:id="a41416bf-0af7-4899-8078-766ecb65f138" name="router-flow"/>
    </flow>
    <flow name="get:\invoice\(invoiceId):api-config">
		<logger level="INFO" doc:name="Logger" doc:id="0575e6e9-efb2-4eec-85ab-4fecf6c5ddfd" message="#[attributes.queryParams.'type']"/>
		<flow-ref doc:name="get-invoice-by-invoiceid-flow" doc:id="ef93cd07-e71d-46d3-be7a-ce7465644f50" name="get-invoice-by-invoiceid-flow"/>
    </flow>
    <flow name="post:\order:application\json:api-config">
		<flow-ref doc:name="router-flow" doc:id="77deb98f-8b71-428e-ab6e-a55250e8d5f8" name="router-flow"/>
    </flow>
</mule>
