exp-ecom-api/src/main/mule/exp-ecom-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="router-flow" doc:id="82e3dfe6-e58d-4232-b4fc-93d7277f61e2" >
		<logger level="INFO" doc:name="Info Logger: processing get order flow" doc:id="665a851d-7dd8-47fd-8406-d2bbbd7a465f" message="exp layer: processing order for order id #[payload.orderId]"/>
	
		<http:request method="POST" doc:name="process:get order" doc:id="18cbb9f3-4285-4347-bdea-8a71979f180e" config-ref="ProcessHttp_Request_configuration" path="/shipments">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('process.auth.clientId'),
	"client_secret": p('process.auth.clientSecret'),
	 "Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	resourceName : attributes.maskedRequestPath
}]]]></http:query-params>
			<http:response-validator >
				<http:success-status-code-validator values="200" />
			</http:response-validator>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3588c214-6f27-427d-b36b-bd293d0a3d4b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
if(payload.status == "failed") 500 else 200]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Info Logger: processing completed " doc:id="1b1caab9-8f9d-4980-8cd9-c9583f718e41" message="exp layer: processed order for order id #[payload.orderId]"/>
	</flow>
	<flow name="get-invoice-by-invoiceid-flow" doc:id="5796b82a-181c-4bfe-a4a3-60782b6ca7d4" >
		<logger level="INFO" doc:name="Logger" doc:id="0ed9b870-9bb1-44d7-8f73-cbbae52578ed" />
		<http:request method="GET" doc:name="system:getInvoiceById" doc:id="b523c824-a3fb-47b6-94d5-8cecef97d3d3" config-ref="SystemHttp_Request_configuration" path="/invoice/{invoiceId}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id" : p('process.auth.clientId'),
	"client_secret": p('process.auth.clientSecret'),
	 "Content-Type" : "application/json"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	invoiceId : attributes.uriParams.invoiceId
}]]]></http:uri-params>
		
</http:request>
	</flow>
</mule>
